# VisionQC GitHub Pages repository
*.zip
!downloads/
!downloads/*.zip
!downloads/*.exe
*.log
.DS_Store
Thumbs.db
Desktop.ini
/dist/
/node_modules/
/playwright-report/
/test-results/
/LocalAgent_v*/obj/
/LocalAgent_v*/.cache/
/LocalAgent_v*/bin/**/x86/
/LocalAgent_v*/OfflineInstaller/bin/
/LocalAgent_v*/OfflineInstaller/obj/
/LocalAgent_v*/Launcher/bin/
/LocalAgent_v*/Launcher/obj/
